*{
    margin:0;
    padding: 0;
}
.containerBig{
    height: 100vh;
    width:100%;
}
.bigCont{
    height:100%;
    width:50%;
    background-color: red;
    display:flex;
    
}
.imageCont{
    height:450px;
    width:800px;
    background-position: contain;
    
}
.Btn{
    background-color: black;
    height:450px;
    width:10px;
}

